<div class="text-center">
<h1>This app utilizes EasyAutocomplete.  Search for an item in the database.  You will notice that your search spans across the title, author, and content of all the books.  You can either click on the item in the dropdown menu that you wish to view, or click the search button.  Hooray!</h1>

<%= image_tag "cat_astronaut_best.jpg", class: 'img-fluid left' %>
<h6>J</h6>
</div>